
/* App background color */
body {
      background-color: #5960c7; /* fe3 Light blue */
      color: white;
}

/* Navbar styling */
.navbar {
    background-color: #3038B9; /* Dark blue */
    padding: 5px; /* Add padding for better spacing */
    border: 0;
    margin-bottom: 15px;
    color: white;
}

.navbar .navbar-brand {
    width: auto; /* Give it automatic width so it doesn't take the full width */
    color: white; /* White color for the title text */
    font-size: 24px;
    padding-right: 20px; /* Some spacing between title and tabs */
    }


.navbar .navbar-nav {
    font-size: 18px; /* Adjust the font size for tab names */
}

.navbar .navbar-nav > li > a {
    color: white; /* Making the tab names color white for better contrast */
}

/* Remove hover effects */
.navbar .navbar-brand:hover, .navbar .navbar-nav > li > a:hover {
    background-color: transparent; /* Remove any background color change on hover */
    color: white; /* Ensure font color remains white on hover */
}

/* Round the corners of Leaflet maps */
.leaflet-container {
  justify-content: center;
  margin-top: 10px; /* Add a 10-pixel margin-top to displace the container */
  padding: 15px;
  border-radius: 20px; /* Adjust the radius as needed */
  box-shadow: 11px 11px 10px rgba(0, 0, 0, 0.3); /* Adjust shadow values as needed */
  overflow: hidden;
}


#dt-dld {
  justify-content: center;
}

tbody {
  color: white;
  }

.dataTables_length {
  margin-left: 10px;
  margin-top: 5px;
}


/* Add box shadow to panels or cards */
.well {
  justify-content: center;
  width: 90%; /* Set your desired width here */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 5px;
  background-color: #333333;
  border-color: #474747;
  color: white;
}


#dtwell {
  width:100%;
}

#mapwell {
  height: 100%;
}

#tutorialbtn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;
  color: white;
  background-color: #b93038;/* #b9b130*/
}

#closetutorial {
  position: fixed;
  top: 20px;
  right: 13px;
  z-index: 2000;
  color: white;
  background-color:	#b93038;/* #b9b130 */
}

#tutorialpane {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 90%; /* Width of the pane */
  height: 90%; /* Height of the pane */
  background: rgba(0, 0, 0, 0); /* Semi-transparent background */
  z-index: 2000; /* High enough z-index */
  transform: translate(-50%, -50%); /* Center the div */
  border-radius: 10px; /* Optional: adds rounded corners */
}

#tutorialcontent {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 85%; /* Width of the pane */
  height: 80%; /* Height of the pane */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 15px;
  transform: translate(-50%, -50%); /* Center the div */
  border-radius: 10px;
  color: black;
  max-width: 100%; /* Takes up to 80% of the parent width */
  max-height: 100%; /* Takes up to 80% of the parent height */
  overflow: auto; /* Adds scroll if content overflows */
}

.twell {
  background-color: black;
  padding: 15px;
  width: 100%; /* Width of the pane */
  height: 100%; /* Height of the pane */
}